body, html {
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(bg.jpg);
    background-position: center;
    position: relative;
    background-size: cover;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}


.navbar a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    margin-right: 20px;
    margin-left: 10px;
}

.icon {
    font-size: 40px;
}

@media (max-width: 767px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar a {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

.wrapper {
    margin: 0 auto;
    width: 1000px;
    background: linear-gradient(rgba(255, 255, 255, 0.8),rgba(255, 255, 255, 0.8));
}


.wrapper h1 {
    text-align: center;
    margin: 0;
    padding: 10px
}

.wrapper h2 {
  margin-left: 10px;
}

.card {
  padding: 20px;
  text-align: center;
  display: inline-block;
  background-color: white;
  border: 1px solid black;
  float: none;
  margin-bottom: 10px;
  margin-left: 40px;   
}

.circle {
  border: 2px solid grey;    
  height:50px;
  border-radius:50%; 
  width:50px;
}

.circlefa {
  border: 2px solid grey;    
  height:150px;
  border-radius:50%; 
  width:150px;
  background-position: center;
  background-repeat: no-repeat;
}

#kor1 {
  background-color: rgb(42, 86, 231);
}

#kor2 {
  background-color: rgb(46, 236, 103);
}

#kor3 {
  background-color: rgb(227, 250, 19);
}

#kor4 {
  background-color: rgb(169, 60, 13);
}

#kor5 {
  background-color: rgb(139,69,19);
}

#kor6 {
  background-color: rgb(221, 133, 0);
}

#kor7 {
  background-color: rgb(74, 5, 111);
}

#kor8 {
  background-color: rgb(255, 0, 191);
}

#kor9 {
  background-color: rgb(174, 150, 109);
}

.card-text {
  text-align: left;
  font-size: 18px;
  margin: 0;
  margin-top: 4px;
  margin-bottom: 2px;
}

#homebg{
    width: 950px;
    height: 320px;
}

.wrapper .napok h3 {
  margin-left: 25px;
  display: inline-block;
  margin-right: 200px;
}

.wrapper .orak h3 {
  display: inline;
  margin-left: 32px;
  margin-right: 200px;
  color:rgb(50, 50, 50)
}

hr {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-left: 10px;
  margin-right: 10px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.footer {
    background-color: #000;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
}

.footer a {
    color: white;
    margin-right: 40px;
    margin-left: 100px;
}

  @media (max-width: 767px) {
    .footer {
      flex-direction: column;
      align-items: center;
    }

    .footer a {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }


.furoink {
  font-size: 20px;
  margin-left: 45px;
  margin-top: 10px;
  display: inline;
  text-decoration: none;
  cursor: pointer;
}

.magasnyomasu {
  font-size: 20px;
  margin-left: 100px;
  margin-top: 10px;
  display: inline;
  text-decoration: none;
}

.csavarhuzok {
  font-size: 20px;
  margin-left: 75px;
  margin-top: 10px;
  display: inline;
  text-decoration: none;
}

#furo {
  background: url('drill.png');
  background-size: 70%;
  background-position:center;
  background-repeat:no-repeat;
  background-color: rgb(221, 119, 119);
  height: 120px;
  width: 120px;
  margin-left: 20px;
  border: 3px solid rgb(255, 255, 255);
  box-shadow: 3px 2px #cacaca;
  margin-right: 80px;
}

#washer {
  background: url('pressure-washer.png');
  background-size: 70%;
  background-position:center;
  background-repeat:no-repeat;
  background-color: rgb(251, 255, 0);
  height: 120px;
  width: 120px;
  margin-left: 20px;
  border: 3px solid rgb(255, 255, 255);
  box-shadow: 3px 2px #cacaca;
}

#driver {
  background: url('screwdriver.png');
  background-size: 70%;
  background-position:center;
  background-repeat:no-repeat;
  background-color: rgb(36, 238, 36);
  height: 120px;
  width: 120px;
  margin-left: 110px;
  border: 3px solid rgb(255, 255, 255);
  box-shadow: 3px 2px #cacaca;
}


#gomb {
  margin-left: 55px;
  text-decoration: none;
}

#semmi1
{
  background: url('pressure-washer.png');
  background-size: 70%;
  background-position:center;
  background-repeat:no-repeat;
  background-color: rgb(255, 252, 79);
  height: 120px;
  width: 120px;
  margin-left: 20px;
  border: 3px solid rgb(255, 255, 255);
  box-shadow: 3px 2px #cacaca;
  
}

#semmi2
{
  background: url('screwdriver.png');
  background-size: 70%;
  background-position:center;
  background-repeat:no-repeat;
  background-color: rgb(36, 170, 88);
  height: 120px;
  width: 120px;
  margin-left: 20px;
  border: 3px solid rgb(255, 255, 255);
  box-shadow: 3px 2px #cacaca;
}

#card-img-top2 {
  height: 10rem;
  width: 10rem;
}

.card2 {
  padding: 20px;
  text-align: center;
  display: inline-block;
  float: none;
  margin-bottom: 10px;
  float: none;
}

.card-text {
  text-align: center;
  font-size: 18px;
  margin: 0;
  margin-top: 4px;
  margin-bottom: 2px;
}

.circular--portrait { 
  position: relative; 
  width: 150px; 
  height: 150px; 
  overflow: hidden; 
  border-radius: 50%; 
  margin-left: 20px;
} 
.circular--portrait img { 
  height: auto;
}


#bukkfa {
  background: url('bukk.jpg');
  background-size: 150%;
  background-position:center;
  background-repeat:no-repeat;
  height: 150px;
  width: 150px;
  margin-left: 160px;
  border: 3px solid rgb(255, 255, 255);
  box-shadow: 3px 2px #cacaca;
  margin-right: 80px;
  margin-bottom: 100px;
}

#tolgyfa {
  background: url('tolgy.jpg');
  background-size: 150%;
  background-position:center;
  background-repeat:no-repeat;
  height: 150px;
  width: 150px;
  margin-left: 20px;
  border: 3px solid rgb(255, 255, 255);
  box-shadow: 3px 2px #cacaca;
  margin-right: 80px;
  margin-bottom: 100px;
}

#cseresznyefa {
  background: url('cseresznye.jpg');
  background-size: 150%;
  background-position:center;
  background-repeat:no-repeat;
  height: 150px;
  width: 150px;
  margin-left: 20px;
  border: 3px solid rgb(255, 255, 255);
  box-shadow: 3px 2px #cacaca;
  margin-right: 80px;
  margin-bottom: 100px;
}

#mahagonifa {
  background: url('mahagoni.jpg');
  background-size: 190%;
  background-position:center;
  background-repeat:no-repeat;
  height: 150px;
  width: 150px;
  margin-left: 270px;
  border: 3px solid rgb(255, 255, 255);
  box-shadow: 3px 2px #cacaca;
  margin-right: 80px;
}

#diofa {
  background: url('dio.jpg');
  background-size: 150%;
  background-position:center;
  background-repeat:no-repeat;
  height: 150px;
  width: 150px;
  margin-left: 20px;
  border: 3px solid rgb(255, 255, 255);
  box-shadow: 3px 2px #cacaca;
  margin-right: 80px;
}

.bukktext {
  font-size: 20px;
  display: inline;
  text-decoration: none;
}




.image-container {
  position: relative;
  display: inline-block;
}

.text-overlay {
  position: absolute;
  top: 0;
  left: 160px;
  width: 50%;
  border-radius: 50%;
  height: 50%;
  opacity: 0;
  transition: opacity 0.5s ease;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid grey;    
  height:150px;
  border-radius:50%; 
  width:150px;
  background-position: center;
  background-repeat: no-repeat;
}

.image-container:hover .text-overlay {
  opacity: 1;
}

.animated-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  opacity: 0;
  animation: fade-in 1s forwards;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

.image-container2 {
  position: relative;
  display: inline-block;
}

.text-overlay2 {
  position: absolute;
  top: 0;
  left: 20px;
  width: 50%;
  border-radius: 50%;
  height: 50%;
  opacity: 0;
  transition: opacity 0.5s ease;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid grey;    
  height:150px;
  border-radius:50%; 
  width:150px;
  background-position: center;
  background-repeat: no-repeat;
}

.image-container2:hover .text-overlay2 {
  opacity: 1;
}

.animated-text2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  opacity: 0;
  animation: fade-in 1s forwards;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

.image-container3 {
  position: relative;
  display: inline-block;
}

.text-overlay3 {
  position: absolute;
  top: 0;
  left: 20px;
  width: 50%;
  border-radius: 50%;
  height: 50%;
  opacity: 0;
  transition: opacity 0.5s ease;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid grey;    
  height:150px;
  border-radius:50%; 
  width:150px;
  background-position: center;
  background-repeat: no-repeat;
}

.image-container3:hover .text-overlay3 {
  opacity: 1;
}

.animated-text3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  opacity: 0;
  animation: fade-in 1s forwards;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

.image-container4 {
  position: relative;
  display: inline-block;
}

.text-overlay4 {
  position: absolute;
  top: 0;
  left: 270px;
  width: 50%;
  border-radius: 50%;
  height: 50%;
  opacity: 0;
  transition: opacity 0.5s ease;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid grey;    
  height:150px;
  border-radius:50%; 
  width:150px;
  background-position: center;
  background-repeat: no-repeat;
}

.image-container4:hover .text-overlay4 {
  opacity: 1;
}

.animated-text4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  opacity: 0;
  animation: fade-in 1s forwards;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

.image-container5 {
  position: relative;
  display: inline-block;
}

.text-overlay5 {
  position: absolute;
  top: 0;
  left: 20px;
  width: 50%;
  border-radius: 50%;
  height: 50%;
  opacity: 0;
  transition: opacity 0.5s ease;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid grey;    
  height:150px;
  border-radius:50%; 
  width:150px;
  background-position: center;
  background-repeat: no-repeat;
}

.image-container5:hover .text-overlay5 {
  opacity: 1;
}

.animated-text5 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  opacity: 0;
  animation: fade-in 1s forwards;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

.container2 {
  margin-left: 20px;
}

.container2 h3 {
  margin-left: 210px;
  color: rgb(0, 195, 255)
}

.container2 img {
  border: 1px solid rgb(0, 195, 255);
}

.container2 a {
  text-decoration: none;
  color: rgb(0, 195, 255);
  margin-left: 650px;
}



.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.column2 {
  margin: 0 auto;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.rolunkcard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
  margin-left: 100px;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.container2 {
  margin-left: 20px;
}

.container2 h3 {
  margin-left: 210px;
  color: rgb(0, 195, 255)
}

.container2 img {
  border: 1px solid rgb(0, 195, 255);
}

.container2 a {
  text-decoration: none;
  color: rgb(0, 195, 255);
  margin-left: 650px;
}

.diofelugro a{
  text-decoration: none;
}

#dioszoveg{
  margin-right: 15rem;
  font-size: medium;
}

table, th, td, tr 
      {
          border: 1px solid black;
      }

.tablazat{
  font-size: large;
  background-color:  lightgrey;
}

table{
  margin-right: 40rem;
  width: 100%;
}

.about-us{
  height: 50vh;
  width: 100%;
  padding: 15px 0;
}
.pic{
  height: auto;
  width:  200px;
  border-radius: 6px;
}
.about{
  width: 750px;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.text{
  width: 500px;
  margin-bottom: 20px;
}
.text h2{
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 50px;
  margin-left: 3px;
}
.text h5{
  font-size: 21px;
  font-weight: 500;
  margin-bottom: -100px;
}
span{
  color: #4070f4;
}
.text p{
  font-size: 23px;
  line-height: 25px;
  letter-spacing: 1px;
  
}
.data{
  margin-top: 15px;
}
.hire{
  font-size: 15px;
  background: #4070f4;
  color: #fff;
  text-decoration: none;
  border: none;
  padding: 8px 25px;
  border-radius: 6px;
  transition: 0.5s;
}
.hire:hover{
  background: #124ff7;
  border: 1px solid #4070f4;
  color: white;
}
 

.pic2 {
  height: 250px;
  width:  200px;
  border-radius: 6px;
}

.pic3 {
  height: 245px;
  width:  200px;
  border-radius: 6px;
}