body, html {
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(bg.jpg);
    background-position: center;
    position: relative;
    background-size: cover;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}


.navbar a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    margin-right: 20px;
    margin-left: 10px;
}

.icon {
    font-size: 40px;
}

@media (max-width: 767px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar a {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

.wrapper {
    margin: 0 auto;
    width: 1000px;
    background: linear-gradient(rgba(255, 255, 255, 0.8),rgba(255, 255, 255, 0.8));
}

.wrapper h1 {
    text-align: center;
    margin: 0;
    padding: 10px
}

.wrapper h2 {
  margin-left: 10px;
}

.wrapper img {
    width: 950px;
    height: 320px;
}

.wrapper .napok h3 {
  margin-left: 25px;
  display: inline-block;
  margin-right: 200px;
}

.wrapper .orak h3 {
  display: inline;
  margin-left: 32px;
  margin-right: 200px;
  color:rgb(50, 50, 50)
}

.bucket {
  height: 250px;
  width: 250px;
}

hr {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-left: 10px;
  margin-right: 10px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.footer {
    background-color: #000;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
}

.footer a {
    color: white;
    margin-right: 40px;
    margin-left: 100px;
}

  @media (max-width: 767px) {
    .footer {
      flex-direction: column;
      align-items: center;
    }

    .footer a {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }